.cl-heyzine-options .cl-btn-new-heyzine {
	display: block;
	margin-top: 1rem;
}

.cl-heyzine-options details {
	margin-top: 1rem;
	padding: 1em;
	background-color: #fff0f3;
}

.cl-heyzine-options details summary {
	cursor: pointer;
}

.cl-heyzine-options details .button {
	background-color: #d63638;
	color: #fff;
}

.cl-heyzine-options details p {
	margin-left: 3em;
}

.cl-heyzine-options details .button:hover {
	color: #d63638;
}

.cl-heyzine-shortcode {
	display: block;
	margin-top: 1rem;
	padding: 1em;
	cursor: pointer;
	max-width: 500px;
	background-color: #daf3e4;

}

/** Toggle Switch */

.range input[type="range"] {
	width: 220px;
}

.range-value {
	color: #8c8f94;
	font-style: italic;
}

.postbox select,
.button-primary.cl-btn-customize,
.range,
.toggle {
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}

.toggle-switch {
	display: inline-block;
	background: #ccc;
	border-radius: 13px;
	width: 48px;
	height: 26px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}

.toggle-switch::before,
.toggle-switch::after {
	content: "";
}

.toggle-switch::before {
	display: block;
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
	width: 19px;
	height: 19px;
	position: absolute;
	top: 4px;
	left: 4px;
	transition: left 0.25s;
}

.toggle:hover .toggle-switch::before {
	background: linear-gradient(to bottom, #fff 0%, #fff 100%);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
	background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch::before {
	left: 24px;
}

.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}

.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}
